/**
 * Media Slider block styles.
 */

/* Overlay */
.acf-block--post-slider {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
}

/* Image */
.acf-block--post-slider .splide__image {
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    backrend-repeat: no-repeat;
}

/* Controls */
.splide__arrows {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
}

.splide__arrows .splide__arrow {
    position: static;
    transform: unset;
    border-radius: unset;
}

@media (max-width: 781px) {}