/**
 * Media Slider block styles.
 */

/* Overlay */
.acf-block--post-slider {
    position: relative;
}

.acf-block--post-slider .splide__link {
    display: block;
    text-decoration: none;
    transition: var(--hover-transition);
}

.acf-block--post-slider .splide__link span:not(.splide__wrapper) {
    display: block;
}

/* Image */
.acf-block--post-slider .splide__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: var(--border-radius--medium);
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow--small);
    padding: 2rem;
    position: relative;
    overflow: hidden;
    color: var(--wp--preset--color--base);
}

.acf-block--post-slider .splide__wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: var(--hover-transition);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
}

/* Title Section */
.splide__title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.splide__title,
.splide__tags {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Excerpt */
.splide__excerpt {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Button */
.acf-block--post-slider .splide__button {
    display: inline-block;
    margin-top: unset;
    margin-bottom: unset;
    background-color: rgba(255, 255, 255, 0);
    border: var(--wp--preset--font-family--fira-code);
    border: var(--border--small);
    border-color: var(--wp--preset--color--base);
    border-radius: var(--border-radius--small);
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
    transition: var(--hover-transition);
}

/* Controls */
.splide__arrows {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
    position: absolute;
    top: -73px;
    right: 0;
}

.splide__arrows .splide__arrow {
    position: static;
    transform: unset;
    border-radius: unset;
}

/* Slider */
.acf-block--post-slider .splide__track {
    overflow: unset;
}

.acf-block--post-slider .ps-intro-content {
    margin-bottom: 1.5rem;
}

.acf-block--post-slider .ps-intro-content h2 {
    margin: 0;
}

/**
 * Hover
 */

/* Slide up */
.acf-block--post-slider .splide__link:hover,
.acf-block--post-slider .splide__link:focus {
    transform: var(--hover-translate--up);
}

/* Link */
.acf-block--post-slider .splide__link:hover .splide__button,
.acf-block--post-slider .splide__link:focus .splide__button {
    background-color: rgba(255, 255, 255, 0.2);
}

/**
 * Mobile
 */


@media (max-width: 1300px) {

    /* Wrapper */
    .acf-block--post-slider .splide__wrapper {
        padding: 1.5rem;
    }
}