/**
 * Media Slider block styles.
 */

/* Overlay */
.acf-block--post-slider {
    position: relative;
    overflow: hidden;
}

.acf-block--post-slider img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 781px) {}