/**
* Global Styles
* 
* Styles for miscellaneous global elements.
*/

// Hide the WP admin bar
html {
    margin-top: 0 !important;
}

#wpadminbar {
    // display: none !important;
}

body.admin-bar {
    margin-top: 32px;
}

main.wp-block-group {
    padding: 0;
}

.wp-block-navigation {
    gap: 1rem;
}