/**
* Global Styles
* 
* Styles for miscellaneous global elements.
*/

// Hide the WP admin bar
html {
    margin-top: 0 !important;
}

#wpadminbar {
    display: none !important;
}

main.wp-block-group {
    padding: 0;
}

// Scroll to show / hide the header and footer
body.scrolled {
    header {
        transform: translateY(-100%);
    }

    footer {
        transform: translateY(100%);
    }
}