/**
 * Mixins
 * 
 * Reusable styles chunks.
 * 
 * @package Alamilla
 */

@mixin transition {
    transition: 0.5s ease all;
}

@mixin badge {
    display: inline-block;
    padding: 5px 14px;
    line-height: 1;
    border-radius: 9999px;
    color: var(--wp--preset--color--contrast);
    background-color: var(--wp--preset--color--accent-4);
}