/**
 * Themes
 * 
 * Styles for themes that can be applied to the body element.
 * These themes are triggered by the themeObserver.js script when certain elements are in view.
 * Each theme corresponds to a theme color defined in the WordPress color palette.
 *
 * @package Alamilla
 */

@use "mixins";

body {
    transition: 0.5s ease background-color, 0.5s ease color;
}

.theme-base {

    &,
    header {
        color: var(--wp--preset--color--contrast);
        background-color: var(--wp--preset--color--base);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--contrast) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--base) !important;
    }
}

.theme-contrast {

    &,
    header {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--contrast);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--base) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--contrast) !important;
    }
}

.theme-accent-1 {

    &,
    header {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--accent-1);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--base) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--accent-1) !important;
    }
}

.theme-accent-2 {

    &,
    header {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--accent-2);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--base) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--accent-2) !important;
    }
}

.theme-accent-3 {

    &,
    header {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--accent-3);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--base) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--accent-3) !important;
    }
}

.theme-accent-4 {

    &,
    header {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--accent-4);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--base) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--accent-4) !important;
    }
}

.theme-accent-5 {

    &,
    header {
        color: var(--wp--preset--color--accent-4);
        background-color: var(--wp--preset--color--accent-5);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--accent-4) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--accent-5) !important;
    }
}

.theme-accent-6 {

    &,
    header {
        color: var(--wp--preset--color--base);
        background-color: var(--wp--preset--color--accent-6);
    }

    // Mobile menu
    .wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--base) !important;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--accent-6) !important;
    }
}

// Button theme changes
.theme-contrast,
.theme-accent-1,
.theme-accent-3 {

    // Pill button
    .wp-block-button:not(.is-style-outline) a {
        color: var(--wp--preset--color--contrast);
        background-color: var(--wp--preset--color--base);

        &:hover,
        &:focus {
            background-color: color-mix(in srgb, var(--wp--preset--color--base) 85%, transparent);
        }
    }

    // Outline button
    .wp-block-button.is-style-outline a {

        &:hover,
        &:focus {
            background-color: color-mix(in srgb, var(--wp--preset--color--base) 10%, transparent);
        }
    }
}