/**
 * Home
 *
 * Styles for the home template.
 */

body.home {
    .entry-content {
        padding-top: 78px;
    }

    // Content modifications
    .wp-block-post-content {
        margin-block-start: 0;
    }
}

.hero-heading {
    font-size: clamp(2rem, 10vw, 20rem);
    line-height: 0.9;
    white-space: nowrap;
}