/**
 * Home
 *
 * Styles for the home template.
 */

body.home {

    // Header
    header {
        &>.wp-block-group {
            min-height: 96px;
        }

        .wp-block-site-logo {
            display: none;
        }

        // Mobile menu
        @media (max-width: 599px) {
            &>.wp-block-group {
                justify-content: flex-end;
            }
        }
    }

    // Content spacing
    .wp-site-blocks {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wp-block-post-content {
        margin-block-start: 0;
    }
}