/**
 * Footer Styles
 */

@use "../vars.scss";
@use "../typography.scss";

// Hide the header when not scrolled
footer {
    opacity: 0.7;

    .wp-block-navigation-item__label {
        @include typography.heading-h6;
    }

    @media (max-width: vars.$mobile-max) {
        text-align: center;

        .wp-block-columns {
            gap: var(--wp--preset--spacing--40);
        }

        .wp-block-social-links {
            justify-content: center;
        }
    }
}