/**
 * Footer Styles
 */

@use "../vars.scss";

// Hide the header when not scrolled
footer {
    @media (max-width: vars.$mobile-max) {
        text-align: center;

        .wp-block-columns {
            gap: var(--wp--preset--spacing--40);
        }

        .wp-block-social-links {
            justify-content: center;
        }
    }
}