/**
 * Header Styles
 */

@use "../mixins.scss";
@use "../typography.scss";

header {
    @include mixins.transition;
    color: var(--wp--preset--color--contrast);
    background-color: var(--wp--preset--color--base);
    margin-block-start: 0 !important;

    // Sticky header
    &:has(>.is-position-sticky) {
        position: fixed;
        top: calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));
        z-index: 10;
        width: 100%;
    }

    // Site title
    .wp-block-site-title {
        @include typography.heading-h5;
    }

    // Menu items
    .wp-block-navigation-item__label {
        @include typography.heading-h5;
    }
}

// Scroll to show / hide the header and footer
body:not(.home).scrolled {
    header {
        transform: translateY(-100%);
    }
}