/**
 * Header Styles
 */

@use "../mixins.scss";
@use "../typography.scss";

header {
    color: var(--wp--preset--color--contrast);
    margin-block-start: 0 !important;

    // Sticky header
    &:has(>.is-position-sticky) {
        position: fixed;
        top: calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));
        z-index: 10;
        width: 100%;
    }

    &>.is-position-sticky {
        padding: 0.5rem 1rem;
    }

    // Site logo
    .wp-block-site-logo {

        svg {
            width: 80px;
        }
    }

    // Menu items
    .wp-block-navigation {
        @include mixins.transition;
        position: fixed;
        z-index: 10;
        // width: calc(100% - 60px);
        width: 265px;
        height: 50px;
        right: var(--wp--preset--spacing--50);
    }

    .wp-block-navigation-item__label {
        @include mixins.badge;
        @include typography.heading-h5;
    }

    // Mobile menu
    .wp-block-navigation__responsive-close {
        margin-top: 10px;
    }

    .wp-block-navigation__responsive-container-close,
    .wp-block-navigation__responsive-container-open {
        background-color: var(--wp--preset--color--accent-1);
        padding: 10px;
        border-radius: 50%;
        box-shadow: var(--box-shadow--small);

        svg {
            fill: var(--wp--preset--color--base);
            width: 20px;
            height: 20px;
        }
    }
}

// Single project header
body.single-project header {
    position: absolute;
    z-index: 10;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent);

    .wp-block-site-logo {
        mix-blend-mode: difference;
        filter: invert(1);
    }
}

// Header for the rest of the site
body:not(.single-project) header+.wp-block-group {
    // padding-top: 100px !important;
}

/**
 * Mobile
 */

@media (min-width: 600px) {

    // Scroll to show / hide the header and footer
    body.scrolled {
        .wp-block-navigation {
            opacity: 0;
        }
    }
}