/**
 * Pattern: Title Content Accordion (TCA)
 * 
 * Styles for the TCA pattern.
 * 
 * @package Alamilla
 */
@use "../vars";

// Layout change for small desktop
@media (min-width: vars.$desktop-min) and (max-width: vars.$desktop-max) {
    .pattern-title-content-accordion {
        .wp-block-columns {
            flex-wrap: wrap !important;

            .wp-block-column:nth-child(1) {
                flex-basis: 100% !important;
            }

            .wp-block-column:nth-child(2),
            .wp-block-column:nth-child(3) {
                flex-basis: calc(50% - (var(--wp--preset--spacing--50) / 2)) !important;
            }
        }
    }
}

// Layout change for small desktop
@media (max-width: vars.$tablet-max) {
    .pattern-title-content-accordion {
        .wp-block-columns {
            flex-wrap: wrap !important;

            .wp-block-column {
                flex-basis: 100% !important;
            }
        }
    }
}