/**
 * Project Banner
 *
 * Styles for the custom Project Banner pattern.
 * 
 * @package Alamilla
 */

// Remove the space above the first block pattern when it's a template part.
header+.wp-block-template-part {
    margin-top: 0;
}

.pattern-project-banner {
    position: relative;

    // Image.
    .wp-block-post-featured-image {

        // Overlay.
        .wp-block-post-featured-image__overlay {
            // opacity: .3;
        }
    }

    // Text content.
    .wp-block-columns {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}